main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

.section {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5em;
}

.potamap__desc {
    width: 50%;
}

.potamap__desc-border {
    width: 100%;
    font-size: var(--font-size-desc);
    font-weight: normal;
    border-radius: 20px;
}

.potamap__desc-img {
    width: 100px;

    animation-name: potamap__desc-img-upAndDown;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
figure {
    position: relative;
}
figure::after {
    content: "";
    position: absolute;
    left: 42.5%;
    top: 100%;
    height: 10%;
    width: 15%;
    background-color: black;
    border-radius: 50%;
}

figure::after {
    animation-name: book-shadow;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.roadmap {
    display: flex;
    flex-direction: column;
}

.roadmap__border {
    width: 200px;
    border: 4px solid var(--color-border);
    border-radius: 20px;
    padding: 10px 10px;
    transition: all 1s;
}

.roadmap__border-title {
    font-size: var(--font-size-desc);
    font-weight: bold;
}

.roadmap__border-desc {
    font-size: var(--font-size-normal);
}

.roadmap-section:hover .roadmap__border:not(:hover) {
    transform: scale(0.8);
    filter: blur(2px);
}

@keyframes potamap__desc-img-upAndDown {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-20%);
    }
}

@keyframes book-shadow {
    form {
        opacity: 0.08;
    }
    to {
        opacity: 0.24;
    }
}
